.topBar{
    background-color: #F1F1F1;
    width: 100%;
    height: 48px;
}
.topbarheading{
    font-size: 22px;
    float: left;
    padding-left: 81px;
    padding-top: 8px;
    font-weight: bold;
}
img {
    height: 20px;
    width: 20px;
    float: right;
    margin-top: 8px;
    padding-top: 8px;
    padding-right: 2px;
    margin-right: 15px;
}
.imgIcons{
    margin-right: 71px;
}
.bodyContant{
    background-color: #D9D9D9;
    width: 100%;
    height: 100vh;
}
.topMiddleBar{
    background-color: #E9E9E9;
    height: 31%;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
}
.bottomMiddleBar{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
}
.horizonBLock1{

    background-color: #E9E9E9;
    height: 132px;
    margin-top: 28px;
    padding-left: 50px;
    width: 50%;
    margin-right: 20px;
    border-radius: 8px;
}
.horizonBLock2{
    background-color: #E9E9E9;
    height: 132px;
    margin-top: 28px;
    padding-left: 50px;
    width: 50%;
    border-radius: 8px;
}
.horizonBLock3{
    background-color: #E9E9E9;
    height: 185px;
    margin-top: 28px;
    padding-left: 50px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
}
.horizonHeading{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 16px;
    text-align: left;
    height: 40px;
    width: 100%;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: monospace;
}
.horizonText{
    font-size: 15px;
    padding-left: 40px;
    padding-top: 1px;
    height: 45px;
    text-align: left;
}

table.demandPlaning{
    font-size: 16px;
    text-align: left;
    margin-top: 30px;
    margin-left: 80px;
    padding-top: 8px;
}
td{
    padding-top: 10px;
}
select{
    font-size: 12px;
    padding: 5px;
    background-color: #F1F1F1;
    width: 220px;
    height: 26px;
    outline:none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
}
select.period{
    width: 150px;
}
input[type=text]{
    font-size: 12px;
    padding: 5px;
    background-color: #F1F1F1;
    margin-left: 20px;
    margin-right: 20px;
    width: 208px;
    outline:none;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-radius: 6px;
}
input[type=text].horizonTextBox{
    font-size: 15px;
    padding: 5px;
    background-color: #F1F1F1;
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    outline:none;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-radius: 6px;
}
select:focus{
    background-color: #FAFAFA;
}
input[type=text]:focus{
    transition-delay: 0.05s;
    background-color: #FAFAFA;
}
input[type=text].desProfile{
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
}
td.tdDescription{
    margin-left: 100px;
}