table {
  border-collapse: collapse;
}

input[type=text]{
    height: 25px;
    width: 100%;
    float: left;
    font-size: 16px;
    border: none;
    border-color: rgb(169, 169, 169);
    border-radius: 0px;
}